/* Floating Chat Button */
.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chatbot-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

/* Chatbot Container */
.chatbot-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 320px;
  max-height: 450px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 1000;
  transform: translateY(20px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.chatbot-container.open {
  transform: translateY(0);
  opacity: 1;
}

.chatbot-container.closed {
  opacity: 0;
  transform: translateY(20px);
}

/* Header */
.chatbot-header {
  background: linear-gradient(135deg, #3b4a5e, #111827);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 2px solid #444444;
}

/* Chatbot Body */
.chatbot-body {
  padding: 20px;
  padding-top:1px;
  overflow-y: auto;
  max-height: 500px;
}

.chatbot-body input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background-color: #d0d2d6;
  color: rgb(5, 5, 5);
  font-size: 16px;
}

.chatbot-body button {
  background: linear-gradient(135deg, #34D399, #10B981);
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.chatbot-body button:hover {
  background: linear-gradient(135deg, #10B981, #34D399);
  transform: scale(1.1);
}

.chatbot-body .send-icon {
  color: white;
  font-size: 20px;
}

/* Close Button */
.close-button {
  background: transparent;
  border: none;
  color: #ff4b5c;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.close-button:hover {
  color: #ff4b5c;
  transform: scale(1.1);
}

/* Additional hover effects */
.chatbot-body input:focus, .chatbot-body button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

